body{
    background-color: rgb(57, 231, 173);
}

#score{
    font-size: 30px;
    margin-left: 40px;
}

#timer{
    font-size: 30px;
    float: right;
    margin-right: 40px;
}

#to_be_drawn{
    font-size: 30px;  
    color: rgb(55, 52, 219); 
}

#show_sketch{
    float: right;
}

h1{
    background-color: rgb(36, 15, 158);
    color: white;
}

canvas{
    border: 5px;
    border-radius: 20px;
    animation-name: a;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes a{
    from{box-shadow:1px 1px 38px rgb(71, 3, 3)};
    to{box-shadow: 1px 1px 38px rgb(110, 7, 7);}
}